extends layout

block content
  h3 Search box
  input#search.form-control(type="text", name="search", onkeyup="ChangeSearch()")
  div#auto
  hr
  .card.text-white.bg-dark
    #output.card-body
  pre.hidden= JSON.stringify(countries, null, 2)
  pre.hidden= JSON.stringify(trackings, null, 2)
  
  script(src="/javascripts/search.js")